.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0F172A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Smooth movement and hover effect */
.ant-table-row {
  transition: all 0.25s ease-in-out;
}

.ant-table-row:hover {
  background-color: #2a3b4d !important;
}

.dragging-row {
  background-color: #384a5a !important;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.2);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0F172A;
  /* dark theme */
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}